.button {
  cursor: pointer;
  background-color: #00000085;
  width: 150px;
  height: 60px;
  border-radius: 10px;
  color: #fff;
  border: 1px solid #000;
  transition: all 0.5s ease;
}


.red {
  color: #fff;
  background-color: rgba(238, 2, 2, 0.801);
  transition: all 0.5s ease;

  &:hover {
    transform: scale(1.1);
    color: rgba(238, 2, 2, 0.801);
    background-color: #fff;
  }
}

.green {
  color: #fff;
  background-color: rgba(19, 199, 94, 0.801);

  &:hover {
    transform: scale(1.1);
    color: rgba(19, 199, 94, 0.801);
    background-color: #fff;
  }
}

.yellow {
  color: #fff;
  background-color: rgb(214, 214, 16);

  &:hover {
    transform: scale(1.1);
    color: rgb(214, 214, 16);
    background-color: #fff;;
  }
}

.black {
  color: #fff;
  background-color: #000;

  &:hover {
    transform: scale(1.1);
    color: #000;
    background-color: #fff;
  }
}

.white {
  color: #000;
  background-color: #fff;

  &:hover {
    transform: scale(1.1);
    color: #000;
    background-color: #fff;
  }
}

