.headerLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 50px;
}

.headerLink {
    display: flex;
    text-align: center;
    font-size: 22px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: #000;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;
    height: 70px;
    width: 350px;
    transition: all 0.5s ease;

    @media (max-width: 500px) {
        width: 300px;
        font-size: 18px;
    }

    &:hover {
        border: 1px solid #fff;
        color: #fff;
        background-color: #000;
        transform: scale(1.1);
        font-weight: 700;
    }
}