.drag_handle {
    position: absolute;
    cursor: move;
}
.DraggableCard {
  background: lightblue;
  border: 2px solid #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.DraggableCardContent {
  padding: 10px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-start;
}
.DraggableCardDelete {
  cursor: pointer;
  
}
